<div class="main-container">
  <div class="control-panel">
    <p>颜色：</p>
    <select [ngModel]="colorMode" (ngModelChange)="onColorModeChange($event)" class="form-select">
      <option value="unloadPort">卸货港</option>
      <option value="containerType">箱型</option>
    </select>
    <p>文字：</p>
    <select [ngModel]="textMode" (ngModelChange)="onTextModeChange($event)" class="form-select">
      <option value="type">箱类型</option>
      <option value="containerId">箱ID</option>
    </select>
    <div class="custom-switch" (click)="switchTextMode()">
      <div class="switch-button" [class.checked]="isSvgText"></div>
      <span class="switch-text on-text" *ngIf="isSvgText">Svg</span>
      <span class="switch-text off-text" *ngIf="!isSvgText">Canvas</span>
    </div>
  </div>
  <div class="floating-list-container">
    <div class="search-box-container">
      <input type="text" [(ngModel)]="searchVescell" placeholder="输入船箱位搜索..." class="search-input" />
      <button (click)="scrollToVescell()" class="search-button">
        <i class="search-icon">🔍</i>
      </button>
    </div>
    <div class="scrollable-list" appMultiSelect [items]="allVescellList" itemIdField="vescell"
      selectedField="data.ifSelected" (selectionChange)="onSelectionChange($event)">
      <div *ngFor="let item of allVescellList; let i = index" class="list-item" style="user-select: none;"
        [class.selected]="item.data?.ifSelected" (click)="selectVescell(item.vescell, $event)"
        [id]="'vescell-' + item.vescell">
        {{ item.vescell }}
      </div>
    </div>
  </div>
  <div *ngIf="bayDatas" class="bay-container">
    @for (bays of bayDatas; track $index) {
    <div #bayGroup class="bay-group">
      @for (bay of bays; track $index) {
      <app-vessel-bay [vesselBayData]="bay" [fillContainer]="fillVesselBayContainer"
        [isFrontendCalculate]="isFrontendCalculate" [isCompleteVescells]="isCompleteVescells" [config]="config"
        [textContainer]="textVesselBayContainer" (vescellDbClick)="onVesselBayDbClick($event)"
        [vescellMarkerConfig]="vescellMarkerConfig" [interactionConfig]="interactionConfig" [isSvgText]="isSvgText"
        (vescellFrameSelect)="selectVescells($event)" (completedVesselData)="updateVesselData($event)"></app-vessel-bay>
      }
    </div>
    }
  </div>
</div>